<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">OrdTbL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'ads-list' %}">Объявлении</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'ads-create' %}">Создать объявление</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Мои объявления</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-arrow-left-right me-1"></i>
                        Предложеные обмены
                    </a>
                </li>
                {% endif %}
            </ul>

            <!-- Правая часть: Поиск + Вход -->
            <form class="d-flex align-items-center" role="search" method="get" action="{% url 'index' %}">
                <input
                        class="form-control me-2"
                        type="search"
                        name="title"
                        placeholder="Поиск"
                        aria-label="Поиск"
                        value="{{ request.GET.title|default_if_none:'' }}"
                >
                <button class="btn btn-outline-light me-2" type="submit">Поиск</button>
            </form>
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <button type="submit" class="btn btn-primary">Выход</button>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Вход</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
