{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Создать объявление</h1>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

        <div class="mb-3">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>

        <div class="mb-3">
            {{ form.condition.label_tag }}
            {{ form.condition }}
        </div>

        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        <div class="mb-3">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>

        <button type="submit" class="btn btn-success">Создать</button>
        <a href="{% url 'ads-list' %}" class="btn btn-secondary">Отмена</a>
    </form>

</div>
{% endblock %}
