{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Изменение объявления</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% if user.is_authenticated %}
        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

            {% if field.widget_type == "checkbox" %}
            <div class="form-check">
                {{ field }}
                <label class="form-check-label" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
            </div>
            {% else %}
            {{ field }}
            {% endif %}

            {% if field.errors %}
            <div class="text-danger small">{{ field.errors|striptags }}</div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
    {% else %}
    <h2 class="text-center mb-4">Что бы создать обявление нужно войти</h2>
    <div class="mb-1">
        <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
    </div>
    {% endif %}
</div>
{% endblock %}
